<div class="site-header">
  <div class="navigation">
    <div class="button" id="home" routerLink="/home" routerLinkActive="active" (click)="onClick($event)">
      HOME
    </div>
    <div class="button" id="about-me" routerLink="/about-me" routerLinkActive="active" (click)="onClick($event)">
      ABOUT ME
    </div>
    <div class="button" id="experience" routerLink="/experience" routerLinkActive="active" (click)="onClick($event)">
      EXPERIENCE
    </div>
    <div class="button" id="contact" routerLink="/contact" routerLinkActive="active" (click)="onClick($event)">
      CONTACT
    </div>
  </div>
</div>