.site-header {
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0;
}

.site-header .navigation {
  float: right;
  margin-right: 10vw;
  margin-top: 1vh;
}

.site-header .navigation .button {
  float: left;
  padding: 1vh 2vw;
  color: #363945;
  font-size: 2.2vh;
  font-family: Barlow Condensed;
  font-weight: 300;
  letter-spacing: 2px;
}

.site-header .navigation .button:hover {
  cursor: pointer;
  color: black;
  text-shadow: 0px 0px 1px rgb(71, 71, 71);
  user-select: none;
}

.site-header .navigation .hover-copy {
  float: left;
  padding: 1vh 2vw;
  font-size: 2.2vh;
  font-family: Barlow Condensed;
  font-weight: 300;
  letter-spacing: 2px;
  cursor: pointer;
  color: black;
  text-shadow: 0px 0px 1px rgb(71, 71, 71);
  user-select: none;
}