<div class="wrapper">
  <div class="about-me">
    <div class="title">About</div>
    <div class="subtitle">
      A bit about me
    </div>
    <div class="text">
      <p>I consider myself a very motivated person and I always try to learn something new, as proof of this there is the page you are looking at, I hope you like it.</p>
      <p>I have experience working on web applications, specifically in backend development but, althought I already knew the basics, I wanted to try to learn in more depth about frontend development.</p>
      <p>When I am coding, I always try to write efficient algorithms but if the problem requires only a good enough solution, I rather sacrifice some performance in order to improve legibility and maintainability.</p>
      <p>Besides programming, I also like to learn about car mechanics but I'm not into motorsports competitions. At home we've always made all small repairs and maintenance as we could and since I got my drivers license, I became really interested on this field.</p>
    </div>
  </div>
  <div class="about-page">
    <div class="title"></div>
    <div class="subtitle">
      A bit about this page
    </div>
    <div class="text">
      <p>This website is made in Angular 11.0.7 and hosted in GitHub Pages, the repository is public and you can access from Contact page.</p>
      <p>I've tested this website on PC and on an Android phone, it is fully supported by Chrome and Firefox and their respective Android versions. I've also tested it on Edge but there is a problem related to the width of the window: Edge is returning a bigger value than the real value. I've tried to find a solution but I couldn't find one that works.</p>
      <p>On PC every page is loaded dynamically, so if you are at the Home page, only this one is loaded and only all pages are loaded when you go to the last one. There is no real reason I made it this way, I could have just load everything from the start but I wanted to learn Angular as much as I can.</p>
      <p>There are 2 main components in this page: an anchor and a routerOutlet. The first one loads and deletes the pages as you scroll, the second one loads the page you are viewing. I needed both in order to implement the animation that you see when navigating with the top buttons so this creates the illusion that the whole website is always loaded.</p>
      <p></p>
    </div>
    <div class="filler"></div>
  </div>
</div>