<div class="wrapper">
  <div class="experience">
    <div class="title">Experience</div>
    <div class="subtitle">
      Working Experience
    </div>
    <div class="text">
      <p>I worked as backend developer for one year for Optiva Media in a web-based application. At first I was in charge of doing changes to already existing functions but, as time went on, I began to develop larger functionalities.</p>
      <p>I think that my most time-consumming functionality was a library that gets the data from a file provided by an external source and store or update our database with the new data. The main problem I had was the usage of custom codes for which we had no translation so I had to get in touch regularly with the client so we could get all the data of those files.</p>
      <p>I also spent some time defining REST API services in Express.js along with the necessary functions so that the fron-end could receive the expected output.This led me to write some functions to get files stored at Amazon EC2 so I tried out some AWS features.</p>
      <p>I almost forgot about 50% of the work I did: write unitary tests. For every change we did we also had to write unitary test for those changes, otherwise our pull request wouldn't be approved.</p>
    </div>
  </div>
</div>