<div class="wrapper">
  <div class="contact">
    <div class="title">Contact</div>
    <div class="subtitle">
      Thank you for your interest
    </div>
    <div class="text">
      <p>If you have read everything up to here, you have my gratitude, I have spend a lot of time learning Typescript and Angular in order to create this website.</p>
      <p>You can contact me through the following links:</p>
      <ul>
        <li>Email: <a href="mailto:roberto.jimlopez@outlook.com">roberto.jimlopez@outlook.com</a></li>
        <li>Linkedin: <a href="https://www.linkedin.com/in/roberto-jim%C3%A9nez-l%C3%B3pez-930301132/">Roberto Jiménez López</a></li>
      </ul>
      <p>Or you can download a classic curriculum vitae:</p>
      <ul>
        <li><a href="https://www.dropbox.com/s/wss9zwuqb2j3nt0/Curriculum%20vitae.pdf?dl=0">Curriculum Vitae</a></li>
      </ul>
    </div>
  </div>
</div>