<div class="resume">
  <div class="title">
    A bit about me
  </div>
  <div class="text">
    I have experience working on web applications, specifically in backend development but, althought I already knew the basics, I wanted to try to learn in more depth about frontend development.
    <br/>
    <br/>
    When I am coding, I always try to write efficient algorithms but if the problem requires only a good enough solution, I rather sacrifice some performance in order to improve legibility and maintainability.
  </div>
  <ng-template anchorHost></ng-template>
</div>
