@media only screen and (min-width: 1080px) and (min-height: 900px) {
  .box {
    position: fixed;
    width: 100%;
    bottom: max(13%, 100px);
    left: 86.5%;
  }

  .box .tip { /* Unused */
    font-family: Barlow;
    color: #363945;
    font-size: max(2vh, 16px);
    display: inline-block;
  }
  .box .arrow{
    position: fixed;
    bottom: max(7%, 50px);
    left: 89%;
    transform: translate(-50%,-50%);
  }
  .box .arrow span{
      float: left;
      width: max(1.5vh, 16px);
      height: max(1.5vh, 16px);
      border-bottom: 5px solid #06A8FF;
      border-right: 5px solid #06A8FF;
      transform: rotate(-45deg);
      animation: animate 2s infinite;
  }
  .box .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .box .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(-45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(-45deg) translate(20px,20px);
      }
  }
}

@media only screen and (max-width: 1000px), screen and (max-height: 900px) {
  .arrow{
    display: none !important;
    position: fixed;
    top: 90%;
    left: 87%;
    transform: translate(-50%,-50%);
  }
  .arrow span{
      float: left;
      width: 1.5vh;
      height: 1.5vh;
      border-bottom: 4px solid #06A8FF;
      border-right: 4px solid #06A8FF;
      transform: rotate(-45deg);
      animation: animate 2s infinite;
  }
  .arrow span:nth-child(2){
      animation-delay: -0.2s;
  }
  .arrow span:nth-child(3){
      animation-delay: -0.4s;
  }
  @keyframes animate {
      0%{
          opacity: 0;
          transform: rotate(-45deg) translate(-20px,-20px);
      }
      50%{
          opacity: 1;
      }
      100%{
          opacity: 0;
          transform: rotate(-45deg) translate(20px,20px);
      }
  }
}

