<div class="presentation">
  <div class="name">Roberto Jiménez</div>
  <div class="subtitle">
    <div class="developer">Junior Developer</div>
  </div>
  <div class="letter">
    <p class="greetings">Greetings,</p>
    <p>My name is Roberto Jiménez López and I am an IT graduate from the Polytechnic University of Madrid.</p>
    <p>This page is a brief resume of my skills and knowledge so you can get to know a bit about me:</p>
    <p class="about-me">I consider myself a very motivated person and I always try to learn something new, as proof of this there is the page you are looking at, I hope you like it.</p>
  </div>
</div>
