<div class="presentation">
  <div class="name">Roberto Jiménez</div>
  <div class="subtitle">
    <div class="tw"></div>
    <div class="developer">Developer</div>
  </div>
  <div class="letter">
    Greetings,
    <br/>
    <br/>
    <br/>
    My name is Roberto Jiménez López and I am an IT graduate from the Polytechnic University of Madrid.
    <br/>
    <br/>
    I consider myself a very motivated person and I always try to learn something new, as proof of this there is the page you are looking at, I hope you like it.
    <br/>
    <br/>
    I have experience working on web applications, specifically in backend development but, althought I already knew the basics, I wanted to try to learn in more depth about frontend development.
    <br/>
    <br/>
    When I am coding, I always try to write efficient algorithms but if the problem requires only a good enough solution, I rather sacrifice some performance in order to improve legibility and maintainability.
  </div>
</div>
