<div class="presentation">
  <div class="name">Roberto Jiménez</div>
  <div class="subtitle">Junior Developer</div>
  <div class="letter">
    <p class="greetings">Greetings,</p>
    <p>My name is Roberto Jiménez López and I am an IT graduate from the Polytechnic University of Madrid.</p>
    <p>This page is a brief resume of my skills and knowledge so you can get to know a bit about me.</p>
    <p class="notice">This website supports the following browsers and their respective Android versions:</p>
    <div class="logo">
      <img src="../../assets/images/firefox-logo.png">
    </div>
    <div class="logo">
      <img src="../../assets/images/chrome-logo.png">
    </div>
  </div>
</div>
